.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;

    background-color: $secondory;

    box-shadow: 0 15px 25px rgba(0, 0, 0, .45);
    border-radius: 5px;

    @include breakpoint($mobile-bp) {
        padding: 1.5rem;
    }

}

.add-post__form {
    display: flex;
    align-items: center;
}

.add-post__textarea {
    display: block;
    flex-grow: 1;
    height: 2.6rem;
    overflow: hidden;//Скриваємо скрол

    border: none;
    background: transparent;
    resize: none;

    font-size: 1.5rem;
    color: $white;
    font-family: inherit;

    &::placeholder {
        color: #d2d2d2;
    }
}

.add-post__form-actions {
    width: 120px;
    flex-shrink: 0;//Забороняємо жиматися
    display: flex;
    justify-content: space-between;

    @include breakpoint($mobile-bp) {
        width: 9rem;
        height: 4rem;
    }
}
.add-post__file {
    display: block;
    width: 4.4rem;
    height: 4.4rem;

    background: url(/assets/images/social/Clip.svg) center no-repeat;
    cursor: pointer;

    input {
        display: none;
    }

    @include breakpoint($mobile-bp) {
        width: 4.4rem;
        height: 4.4rem;
        margin-top: -.5rem;
    }
}

.add-post__enter {
    background: none;
    border: none;

    @include breakpoint($mobile-bp) {
        width: 3.4rem;
        height: 3.4rem;
        margin-top: -.5rem;
        margin-right: 1rem;
    }
}