.btn {
    padding: 1.1em 2.1em;

  
    border: none;
    cursor: pointer;
    border-radius: 3em;

    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 500;
    color: #000000;
    text-decoration: none;

    transition: background-color .2s linear;

    &--orang {
        background-color: $orange;

        
        &:hover {
            background-color: darken($orange, 6%);
            color: $white;
        }
    }

    &--blue {
        padding: 0.7em 1.25em;
        background-color: #3137C9;
        border-radius: 5px;
    }
    
}