.btn {
    padding: 1.1em 2.1em;

  
    border: none;
    cursor: pointer;
    border-radius: 3em;

    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 500;
    color: #000000;
    text-decoration: none;

    transition: background-color .2s linear;

    &--orang {
        background-color: #EF2B00;

        
        &:hover {
            background-color: darken(#FF2E00,6%);
        }
    }
    
}