.nav {

    &--mobile {
        display: none;
    }

    @include breakpoint($tablet-bp) {
        display: none;

        &--mobile {
            display: block;
        }
    }
}

.nav__list {
    display: flex;

    @include breakpoint($tablet-bp) {
       flex-direction: column;
    }
}

.nav__link {
    display: block;
    padding: 1.35rem;

    font-size: 1.1rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: $white;
    text-decoration: none;
    transition: background-color .2s linear;

    &:hover {
        background-color: $orange;
    }
}