.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.page__title {
    margin-bottom: 3rem;

    font-size: 2.1rem;
    color: $white;

    &--center {
        text-align: center;
    }
}

.page__mask {
    @include breakpoint($tablet-bp) {
        display: block;
        width: 100%;
        height: 100%;
    
        background-color: rgba(0, 0, 0, .9);
    
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }
}