.post {
    margin-bottom: 3rem;
    padding: 2.5rem;

    background-color: $primary;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .35);
    border-radius: 5px;
    overflow: hidden;

    @include breakpoint($mobile-bp) {
        padding: 1.5rem;
    }

}

.post__header {
    margin: 0 0 2.5rem;

    &--previev {
        margin: -2.6rem -2.5rem 2.5rem;
    }

}

.post__img {
    display: block;
    max-width: 101%;
    height: auto;
}

.post__content {
    margin-bottom: 2rem;
}

.post__title {
    margin-bottom: 1.5rem;

    font-size: 1.8rem;
    color: $white;
    font-weight: 500;
    

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            color: $orange;
        }
    }

    &--mb0 {
        margin-bottom: 0;
    }
}

.post__subtitle {
    margin-top: 3rem;
    margin-bottom: 2rem;

    font-size: 1.6rem;
    color: $white;
    font-weight: 500;
}

.post__description {
    font-style: 1.4rem;
    color: #d2d2d2;
}

.post__text {
    padding-bottom: 1rem;
    font-style: 1.4rem;
    color: $white;

    border-bottom: 1px solid #1c1c1c;

    h2, h3, h4, h5, h6 {
        margin-bottom: 1.5rem;
        font-weight: 700;
    }

    h2 {
        font-size: 1.2em;
        
    }

    h3 {
        font-size: 1.1em;
    }

    h4, h5, h6 {
        font-size: 1em;
    }

    ul, ol {
        margin-bottom: 2rem;
    }

    ol {
        list-style: decimal;
        list-style-position: inside;
    }

    table {
        margin-bottom: 2rem;
        width: 100%;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    
    p {
        margin-bottom: 2rem;
    }

    a {
        color: blue;
        
        text-decoration: none;

        transition: color .3s linear;

        &:hover {
            text-decoration: underline;
            color: $orange;
        }
    }
}

.post__foter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__data {
    color: #828282;
    line-height: 1.2;
}

.post__data-item {
}

.post__read {
    font-size: 1.4rem;
    color: #107eff; 
    text-decoration: none;

    transition: color .2s linear;

    &:hover {
        text-decoration: underline;
        color: $orange;
    }
}

.post__actions {
    margin-bottom: 1.5rem;

    font-size: 1.2rem;
    color: rgba($white, .6);

    a {
        color: inherit;
        text-decoration: none;

        transition: color .3s linear;

        &:hover {
            text-decoration: underline;
            color: $orange;
        }
    }
}