.social {
    padding: 3rem 0;
    margin: -3rem 0;
    display: flex;
    justify-content: center;

    border-bottom: 1px solid #1c1c1c;


}

.social__item {
    margin: 0 .75rem;
}

.social__link {
}

.icon {
    fill: #fff;
    transition: fill .3s linear;
}

.icon:hover {
    fill: $orange;
}