.social {
    padding: 3rem 0;
    margin: -3rem 0;
    display: flex;
    justify-content: center;

    border-bottom: 1px solid #1c1c1c;


}

.social__item {
    margin: 0 .75rem;
}

.social__link {
}

// svg {
//     display: block;
// }

// path {
//     fill-opacity: 0;
//     fill: #EF2B00;
//     stroke: #fff;
//     transition: all 0.4s linear;
//   }

//   svg:hover path {
//     fill-opacity: 1;
//     stroke-opacity: 0;
//   }

.icon {
    fill: #fff;
}

.icon:hover {
    fill: #EF2B00;
}