<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <li>
                    <a class="nav__link" href="/index.html">Главная</a>
                </li>
                <li>
                    <a class="nav__link" href="/blog.html">Блог</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__right">
        <nav class="nav">
            <ul class="nav__list">
                <li>
                    <a class="nav__link" href="/profile.html">Профиль</a>
                </li>
                <li>
                    <a class="nav__link" href="#">Выйти</a>
                </li>
            </ul>
        </nav>

        <button class="burger active" type="button" id="burger">
            <span>open nav</span>
        </button>

        <form class="search" action="/" method="post">
            <input class="search__input" type="text" placeholder="Поиск по блогу">
        </form>
    </div>
</header>
